# Hiding non-public content
Options -Indexes
RedirectMatch 404 /\.git

# 404 Page
ErrorDocument 404 /404.html

# Tabling
RedirectPermanent /tabling http://berkeleypbl-tech.github.io
RedirectPermanent /tabling-form https://docs.google.com/forms/d/e/1FAIpQLSeoPyKLBG6bKTjkHWIUyr_OBSOZ7f-SRd-C9gfW23XVj1p5Kg/viewform

Redirect /apparel https://forms.gle/dcpDeo8qY5gn63Zg9
Redirect /shoutouts https://forms.gle/3QyXiRJZm8m8e1pC7
Redirect /questionnaire https://forms.gle/LL1VSTey4G1NE9XN9
Redirect /vote https://forms.gle/sUmespt6qjreHaYy7
Redirect /superlatives https://forms.gle/NfDtemZd8Dqrs2GK7
Redirect /big-little-feedback https://forms.gle/xbUQ1KgCQuRnCyZd6

# Permanent redirects from outdated google search results
RedirectPermanent /executive.html /leadership.html#executive
RedirectPermanent /internal-networking.html /leadership.html#internal-networking
RedirectPermanent /upper-division.html /leadership.html#client-teams

# Spring 2021 Priority Recruitment
Redirect /exec-app https://docs.google.com/forms/d/e/1FAIpQLScP0KLni42S8EMwxVC0cotX3IRnrepiwHh0BUTyuW6bAqFXxw/viewform
Redirect /officer-return https://docs.google.com/forms/d/e/1FAIpQLSfqyH7bupCfn0SeQ2AiiBOKY-pjuQP3b8vXjqYjVDEJYC8ZNA/viewform
Redirect /officer-app https://docs.google.com/forms/d/e/1FAIpQLSefn81XXAc6BV5yQIV-OCr5lDMyxyadmAa2twfj7n1_c-BMpQ/viewform
Redirect /member-app https://docs.google.com/forms/d/e/1FAIpQLSfM4EMfxaXacqLtxIMmkiI_9Dk967jmAIKqp5Q0phOfsbzLfQ/viewform

# Spring 2021 Recruitment
# Redirect /interest https://docs.google.com/forms/d/e/1FAIpQLSc5q1V9dG1v38RLc3H88yzbQnP7Hd3mhff0HcPcpU6HHQ0Acw/viewform
# Redirect /coffee https://forms.gle/YnLxLHDHJTtChr9T7
# Redirect /info1 https://berkeley.zoom.us/meeting/register/tJIpd-igpjwiGddrpUEAXT93OKvF5BkANLFJ
# Redirect /info2 https://berkeley.zoom.us/meeting/register/tJMrdu-orDMvG9JZo9Ad98gBFKAYHScuiMef
# Redirect /mixer https://berkeley.zoom.us/meeting/register/tJYuduigrzouHdZr5Kc3s4YDX-NAPVR36I2l
# Redirect /discord https://discord.gg/eDCrPkyF7V

# Spring 2022 Recruitment
# Redirect /interest https://forms.gle/W3DGRFxwdRDBEDbd8
# Redirect /coffeechats https://forms.gle/rM2x4AGgr1mjr6Ba9
# Redirect /info1 https://berkeley.zoom.us/meeting/register/tJUodOiqpjgiG9y1dZHpDbwPDc7GFtq1Kwxv
# Redirect /info2 https://berkeley.zoom.us/meeting/register/tJcrcOisrzsjGtwGwcjaVZ7yacOFUtob3c6K
# Redirect /mixer https://berkeley.zoom.us/meeting/register/tJ0pcuytrzssE91phFyJYhRsf3w4cxERJZUS
# Redirect /diversity https://berkeley.zoom.us/meeting/register/tJYtc-yupzwrGtbpeytFtRRAaTk9amB4HeE3

# Spring 2023 Recruitment
Redirect /interest https://docs.google.com/forms/d/e/1FAIpQLSfWh4ONFt_BLDrBFyXdw-5EBhETzcEDxS1KQ9BIZd-vwmTuyA/viewform
Redirect /coffeechats https://docs.google.com/forms/d/e/1FAIpQLSccvYUwCNUbMjTVHfHjls7yxtKAs_ivTmkuaqGjtPcxWhAW8Q/viewform