:root {
  --yellow: #ffc107;
  --muted-white: #dadada;
  --nav-height: 50px;
}

@media (min-width: 576px) {
  :root {
    --nav-height: 70px;
  }
}

body {
  background-color: black;
  color: white;
  font-family: "Segoe UI",Roboto,"Open Sans",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.vertical-center {
  display: flex;
  align-items: center;
}

.black-navbar {
  background: black !important;
}

nav {
  transition: all 0.3s ease;
  background: black;
}

@media (min-width: 768px) {
  nav {
    background: transparent;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar-collapse {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
  }
}

header div.container-fluid {
  margin-top: var(--nav-height);
  flex-grow: 1;
}

nav > div {
  font-size: 1.3rem;
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icon-link {
  font-size: 1.75rem;
}

.footer-text {
  font-size: 0.85rem;
  text-decoration: none;
}

.footer1 {
  text-align: left;
}

.footer2 {
  text-align: right;
}

.pbl-logo {
  padding-top: 10px;
  height: var(--nav-height);
  width: auto;
}

.dropdown-menu {
  border: white 2px solid;
  border-top: 0;
  background-color: black;
}

.dropdown-item {
  color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--yellow);
  color: black;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav-link {
  padding-top: 0;
}

@media (min-width: 768px) {
  .nav-item.active::before {
    border-right-width: 3px;
  }
  .nav-item.active::before, .nav-item:hover::before {
    transform: translateY(0);
  }

  .nav-item::before, .nav-item::before {
    content: "";
    height: calc(var(--nav-height) - 100%);
    left: 50%;
    bottom: calc(100% + 1px); /* + 1px to fix rounding issues */
    border-right: var(--yellow) 1px solid;
    position: absolute;
    transform: translateY(-100%);
    transition: 0.2s ease;
  }
}

header > div.container-fluid {
  height: 100vh;
  /* height: calc(100vh - var(--nav-height)); */
  /* margin-top: var(--nav-height); */
  background-size: cover;
  background-repeat: no-repeat;
  /* clip-path: polygon(5% 0, 95% 0%, 95% 85%, 50% 100%, 5% 85%); */
}

main {
  margin-top: var(--nav-height);
}

.index-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("/assets/img/tech.jpg");
  background-position: center;
}

.arrows {
  position: absolute;
  bottom: 50px;
  left: 50%;
}

#arrows::before, #arrows::after {
  content: "";
  width: 3vh;
  max-width: 40px;
  height: 3vh;
  max-height: 40px;
  border-left: 4px white solid;
  border-bottom: 4px white solid;
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
  position: absolute;
}

#arrows::before {
  bottom: 0;
}
#arrows::after {
  bottom: 15px;
}

.bounce {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce:hover {
  animation-play-state: paused;
}

@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-15px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-3px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.banner {

}

.text-block {
  position: relative;
  bottom: -100px;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.under-picture {
  display: flex;
  align-items: flex-end;
  background-image:
    url("/assets/img/IMG_9252.jpg");
  background-position: left;
  background-size: 75vw;
  background-repeat: no-repeat;
  height: 80vh;
}

.banner {
    padding-top: 160px !important;
    padding-bottom: 50px !important;
}

.committee {
  padding-top: calc(var(--nav-height) + 15px);
  margin-bottom: calc(var(--nav-height) / 2);
}

#spy a.nav-link.active, #spy a.nav-link.active:hover {
  font-weight: bold;
  border-left: 3px solid;
  padding-left: 7px;
  color: var(--yellow);
}

#spy a.nav-link:hover {
  border-left: var(--yellow) 2px solid;
  padding-left: 8px;
}

#spy a.nav-link {
  color: inherit;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 10px;
  font-size: 0.9rem;
}

#spy {
  top: 200px;
  margin-top: 100px;
}


.bio-card {
  box-shadow: 5px 10px 4px #888888;
  border-width: thin !important;
  position: relative;
  /* clip from bottom of card but allow overflowing the top */
  clip-path: polygon(0 -100%, 100% -100%, 100% 100%, 0% 100%);
}

.bio-rect-img {
  display: block;
}

.invert-img {
  filter: invert(100%);
}

.caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  background-color: var(--dark);
  user-select: none;
  text-align: center;
}

.caption:hover {
  transform: translateY(0);
}

.bio-visible {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--dark);
}

.bio-hidden {
  max-height: 0px;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0 15px 0 15px;
}

.bio-hidden p {
  text-align: left;
}

.caption:hover .bio-hidden {
  max-height: 100%;
}

.role {
  color: #aaaaaa;
}


.timeline {
  position: relative;
}

#timeline {
  padding-top: 65px;
}

@media (min-width: 576px) {
  .timeline-event {
    display: flex !important;
  }
  .timeline-date {
    display: table-cell;
    width: auto !important;
  }
  .timeline-description {
    display: table-cell;
  }
}

.timeline-event {
  display: table-row;
}

.timeline-date {
  vertical-align: top;
  line-height: inherit;
}

.timeline-description {
  vertical-align: top;
}

.timeline-marker {
  display: table-cell;
  vertical-align: top;
  position: relative;
  line-height: inherit;
}

/* bubbles */
.timeline-marker::before {
  /* border: 5px solid; */
  height: 1rem;
  width: 1rem;
  top: 0.5rem;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  border-radius: 100%;
  background: white;
  content: "";
  display: block;
}

/* vertical line */
.timeline-marker::after {
  background-color: white;
  content: "";
  width: 3px;
  left: 0;
  right: 0;
  top: 2rem;
  bottom: 0;
  margin: auto;
  position: absolute;
}


.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: 2rem;
}

.timeline a {
  font-size: 1.5rem;
}
