:root {
  --yellow: #ffc107;
  --muted-white: #aaaaaa;
  --dark: #242627;
  --nav-height: 50px;
}

@media (min-width: 576px) {
  :root {
    --nav-height: 70px;
  }
}

body {
  background-color: black;
  color: white;
  font-family: "Segoe UI",Roboto,"Open Sans",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.vertical-center {
  display: flex;
  align-items: center;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.black-navbar {
  background: black !important;
}

nav {
  transition: all 0.3s ease;
  background: black;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

@media (min-width: 768px) {
  nav {
    background: transparent;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar-collapse.show {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
  }
}

.hero-content {
  margin-top: var(--nav-height);
  flex-grow: 1;
}

@media (max-width: 576px) {
  header h1.display-1 {
    font-size: 3.5rem;
  }
}

nav > div {
  font-size: 1.25rem;
}

button {
  border-radius: 0 !important;
}

.footer p {
  margin-bottom: 0;
  color: #999;
  background: #111;
}

.footer-icon-link {
  font-size: 1.85rem;
}

.footer-text {
  font-size: 0.90rem;
  color: #AAAAAA
}

.footer-text2 {
  font-size: 0.85rem;
}

.pbl-logo {
  padding-top: 10px;
  height: var(--nav-height);
  width: auto;
}

.dropdown-menu {
  border: white 2px solid;
  border-top: 0;
  background-color: black;
}

.dropdown-item {
  color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--yellow);
  color: black;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav-link {
  padding-top: 0;
}

@media (min-width: 768px) {
  .nav-item.active::before {
    border-right-width: 3px;
  }
  .nav-item.active::before, .nav-item:hover::before {
    transform: translateY(0);
  }

  .nav-item::before, .nav-item::before {
    content: "";
    height: calc(var(--nav-height) - 100%);
    left: 50%;
    bottom: calc(100% + 1px); /* + 1px to fix rounding issues */
    border-right: var(--yellow) 1px solid;
    position: absolute;
    transform: translateY(-100%);
    transition: 0.2s ease;
  }
}

main {
  margin: calc(1.5 * var(--nav-height)) 0;
}

.index-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/header/homeheader.jpg");
  background-position: center;
}

.about-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/header/aboutusheader.jpg");
  background-position: center;
}

.careers-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/header/careersheader.jpg");
  background-position: center;
}

.committees-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/header/meetpblheader1.jpg");
  background-position: center;
}

.leadership-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/header/meetpblheader2.jpg");
  background-position: center;
}

.services-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/header/ourservicesheader.jpg");
  background-position: center;
}

.join-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/header/joinusheader.jpg");
  background-position: center;
}

.page-not-found-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("/assets/img/header/homeheader.jpg");
  background-position: center;
}

.arrows-container {
  width: 60px;
  height: 60px;
  flex-shrink: 1;
  position: relative;
}

.arrows {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  bottom: 0;
  width: inherit;
  height: inherit;
}

svg {
  height: 100%;
  transform: translateX(-50%);
  display: block;
  margin: auto;
  position: absolute;
  left: 50%;
}

.bounce {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-15px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-3px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0);
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1;
  }
}

.toFadeIn {
  opacity: 0;
}

.animatedFadeInUp {
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}


.banner {

}

.video-banner {
  max-width: 1500px;
}

.layered--right {
    background-position: right center;
}
.layered--left {
    background-position: left center;
}

.vc_custom_1581793881517 {
    padding-top: 80px !important;
    padding-bottom: 50px !important;
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}

.content__text {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #000;
}

@media (min-width: 992px) {
  .content__text {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    /* min-width: 70vh;
    min-height: 50vh; */
  }

  .content__text h1 {
    font-size: 3em;
  }
}

.under-picture--left {
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.whatwedo-background {
  background-image: url("../img/whatwedo.jpg");
}

.whypbl-background {
  background-image: url("../img/whypbl.jpg");
}

.orgstructure-background {
  background-image: url("../img/orgstruct.jpg");
}

.ourapproach-background {
  background-image: url("../img/city.jpg");
}

@media (min-width: 768px) {
  .under-picture--left {
    background-size: 75vw;
    background-position: left;
  }
}

@media (min-width: 992px) {
  .under-picture--left {
    background-size: 75vw;
    background-position: left;
    min-height: 100vh;
    /* min-height: calc(100vh - var(--nav-height)); */
  }
}

.under-picture--right {
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  .under-picture--right {
    background-size: 75vw;
    background-position: right;
  }
}

@media (min-width: 992px) {
  .under-picture--right {
    background-size: 75vw;
    background-position: right;
    min-height: calc(100vh - var(--nav-height));
  }
}

.banner {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.brackets {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

.brackets::before, .brackets::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
}

.brackets::before {
  border-left: 3px var(--yellow) solid;
  border-top: 3px var(--yellow) solid;
  top: 0;
  left: 0;
}

.brackets::after {
  border-right: 3px var(--yellow) solid;
  border-bottom: 3px var(--yellow) solid;
  bottom: 0;
  right: 0;
}

.pillar-img {
  width: 100%;
  max-width: 100px;
}

.logo {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.scale-on-hover {
  transition: all 0.3s ease;
}

.scale-on-hover:hover {
  transform: scale(1.15);
}

.logo>a {
  width: 100%;
}

.logo-img {
  width: 100%;
}

.alumni-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;
  justify-content: space-evenly;
  align-items: stretch;
}

.client-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
  justify-content: space-evenly;
  align-items: stretch;
}


.committee {
  padding-top: calc(var(--nav-height) + 15px);
  margin-bottom: calc(var(--nav-height) / 2);
}

.interest-form {
  padding-top: 10px;
}

#spy a.nav-link.active, #spy a.nav-link.active:hover {
  font-weight: bold;
  border-left: 3px solid;
  padding-left: 7px;
  color: var(--yellow);
}

#spy a.nav-link::before {
  visibility: hidden;
  content: attr(data-title);
  font-weight: bold;
  display: block;
  height: 0;
}

#spy a.nav-link:hover {
  border-left: var(--yellow) 2px solid;
  padding-left: 8px;
}

#spy a.nav-link {
  color: inherit;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 10px;
  font-size: 0.9rem;
}

#spy {
  top: 200px;
  margin-top: 100px;
}


.bio-card {
  box-shadow: 5px 10px 4px #888888;
  border-width: thin !important;
  position: relative;
  /* clip from bottom of card but allow overflowing the top */
  clip-path: polygon(0 -100%, 100% -100%, 100% 100%, 0% 100%);
}

.bg-dark {
    background-color: #242627!important;
}

.bio-rect-img {
  display: block;
  max-height: 100%;
}

.invert-img {
  filter: invert(100%);
}

.caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  background-color: var(--dark);
  user-select: none;
  text-align: center;
}

.caption:hover {
  transform: translateY(0);
}

.bio-visible {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--dark);
}

.bio-hidden {
  max-height: 0px;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0 15px 0 15px;
}

.bio-hidden p {
  text-align: left;
}

.caption:hover .bio-hidden {
  max-height: 100%;
}

.role {
  color: #aaaaaa;
}

.timeline-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row dense;
}

.timeline-marker {
  grid-row-end: span 2;
  position: relative;
}

@media (min-width: 576px) {
  .timeline-grid {
    grid-template-columns: auto auto 1fr;
  }

  .timeline-marker {
    grid-row-end: unset;
    grid-column: 2;
  }
}

/* bubbles */
.timeline-marker::before {
  height: 1rem;
  width: 1rem;
  top: 1.25rem;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  border-radius: 100%;
  background: white;
  content: "";
  display: block;
}

/* vertical line */
.timeline-marker::after {
  background-color: white;
  content: "";
  width: 3px;
  left: 0;
  right: 0;
  top: calc(24px + 1rem);
  bottom: 0;
  margin: auto;
  position: absolute;
}

.timeline-event {
  margin-left: 20px;
  justify-items: center;
}

.timeline-date {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 2.5rem;
}

.timeline-grid h5 {
  color: var(--muted-white);
}

.timeline-grid h1, .timeline-grid h2, .timeline-grid h3, .timeline-grid h4, .timeline-grid h5, .timeline-grid h6 {
  line-height: 1;
}

.timeline-grid a {
  font-size: 1.5rem;
}

.client-timeline-logo {
  display: flex;
  transition: all 0.3s ease;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  max-height: 85%;
  max-width: 100%;
  align-items: center;
}

.client-timeline-logo-18 {
  display: flex;
  transition: all 0.3s ease;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  max-height: 55%;
  max-width: 45%;
  align-items: center;
}

.client-timeline-logo>a {
  width: 90%;
  top: -7%;
}

.client-timeline-logo-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(13%, 1fr)); /*120px*/
  gap: 5%; /*30px*/
  justify-content: space-evenly;
  align-items: center;
  height: 110px;
  margin-top: auto;
  margin-bottom: auto;
}

.client-timeline-marker {
  grid-row-end: span 2;
  position: relative;
}

.client-timeline-marker-last {
  grid-row-end: span 2;
  position: relative;
}

@media (min-width: 576px) {
  .client-timeline-marker {
    grid-row-end: unset;
    grid-column: 2;
  }
  .client-timeline-marker-last {
    grid-row-end: unset;
    grid-column: 2;
  }
  .client-timeline-date {
    margin-right: 20px;
    text-align: right;
    line-height: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* bubbles */
.client-timeline-marker::before {
  height: 1rem;
  width: 1rem;
  /* top: 1.25rem; */
  top: 3.5rem;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  border-radius: 100%;
  background: #ffc107;
  content: "";
  display: block;
}

.client-timeline-marker-last::before {
  height: 1rem;
  width: 1rem;
  /* top: 1.25rem; */
  top: 3.5rem;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  border-radius: 100%;
  background: #ffc107;
  content: "";
  display: block;
}

/* vertical line */
.client-timeline-marker::after {
  background-color: #ffc107;
  content: "";
  width: 3px;
  left: 0;
  right: 0;
  /* top: calc(24px + 1rem); */
  top: calc(24px + 5rem);
  bottom: 0;
  height: 100%;
  margin: auto;
  position: absolute;
}

.client-timeline-marker-last::after {
  background-color: #ffc107;
  content: "";
  width: 3px;
  left: 0;
  right: 0;
  /* top: calc(24px + 1rem); */
  top: calc(24px + 5rem);
  bottom: 0;
  height: 0%;
  margin: auto;
  position: absolute;
}

.client-timeline-date {
  margin-right: 20px;
  text-align: right;
  line-height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  padding: 1em;
}

.icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
  outline-offset, outline-color,
  background-color;
  transition-duration: .25s;
}

.icon:hover {
  outline-offset: 4px;
  color: #fff;
  text-decoration: none;
}

.icon--instagram:hover {
  background-image: 
  radial-gradient(circle at 30% 107%,
  #fdf497 0%, #fdf497 5%,
  #fd5949 45%, #d6249f 60%,
  #285AEB 90%);
  outline-color: #a02d76;
}

.icon--facebook:hover {
  background-color: #0080FB;
  outline-color: #0080FB;
}

.icon--youtube:hover {
  background-color: #FF0000;
  outline-color: #FF0000;
}

.icon--gmail:hover {
  background-color: #34A853;
  outline-color: #34A853;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #000000;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #000000;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 10px;
  transition: 0.3s;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  line-height: 1px;
}

@media screen and (min-width: 320px) {
  .tab button { font-size: 13px; }
}
@media screen and (min-width: 680px) {
  .tab button { font-size: 17px; }
}
@media screen and (min-width: 1024px) {
  .tab button { font-size: 17px; }
}

.tab button:first-child {
  border-right: none;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #ffc107;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #000000;
  border-top: none;
  color: #ffffff;
}

.tabcontent {
  animation: fadeEffect 1.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#box {
  background-color: #ffc107;
  padding: 5px;
  color: #000000;
  font-weight: bold;
  font-size: large;
}

hr.new1 {
  border: 1px solid #ffc107;
}

.header2 {
  color: #ffc107;
  font-size: 1.6rem;
  font-weight: lighter;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  table-layout: fixed;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

table.Names {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  font-weight: normal;
  font-style: italic;
}

td {
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr { 
  border: solid;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}
